.navbar {
  background: #000;

  .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

.carousel-item {
  height: 450px;
}

.carousel-img-1 {
  background: url('../img/image1.jpeg');
  background-size: cover;
}

.carousel-img-2 {
  background: url('../img/image2.jpeg');
  background-size: cover;
}

.carousel-img-3 {
  background: url('../img/image3.jpeg');
  background-size: cover;
}






#home-section {
  .fa {
    font-size: 50px;
    padding-bottom: 7px;
  }

  p {
    margin-bottom: 5px;
  }
}

#get-started {
  position: relative;
  background: url('../img/bg1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px;

  .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

}

// video Section 
#home-video {
  position: relative;
  background: url('../img/people.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px;

  .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .fa {
    font-size: 70px;
    color: red;
  }

  .fa:hover {
    font-size: 70px;
    color: red;
  }

}

#photo-gallery {
  img {
    min-height: 250px;
  }
}

#copyright {
  background: #000;

  h3 {
    color: white;
  }

}


//about-us
#about-us {
  position: relative;
  background: url('../img/image1.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px;

  .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

#about-section-2 {
  img {
    width: 350px;
    height: 350px;
  }
}

#about-3 {
  .fa {
    font-size: 50px;
  }

}

#testimonial {

  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
}

//-----------media

@media(max-width: 991px) {
  #get-started {
    min-height: 350px;
  }
}

@media(max-width: 575px) {
  .carousel-caption {
    h2 {
      font-size: 36px;
    }
  }

  .carousel-item {
    .pb-5 {
      padding-bottom: 0 !important;
    }
  }

  #get-started {
    h2 {
      font-size: 36px;
      margin: 20px 0;
    }
  }
}


@media(max-width: 480px) {
  #get-started {
    min-height: 450px;

    h2 {
      font-size: 36px !important;
      margin: 15px 0;
    }
  }

  #home-video {
    min-height: 300px;
  }

}